@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


$debugCss: 0;

.centrarColumna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centrarFila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @if $debugCss>=1 {
    outline: 1px solid red;
  }

  @if $debugCss==2 {
    background-color: rgba(255, 0, 0, 0.1);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body #root {
  font-family: 'Roboto', sans-serif;

  font-size: clamp(1rem, 2.5vw, 1.5rem);

  @extend .centrarColumna;

  header {
    @extend .centrarFila;
    border-bottom: 3px solid #ccc;
    box-shadow: 0 5px 25px black;
    width: 100%;
    justify-content: space-around;

    margin: 0.5rem;
    padding: 0.5rem;

    a {
      img {
        width: 150px;
        aspect-ratio: auto;
      }
    }


    .header__navbar {

      //background-color: #ccc;
      a {
        margin: 1rem;
        padding: 0.5rem;
        text-decoration: none;

        &.active {
          background-color: blueviolet;
          border-bottom: 2px solid blueviolet;
          color: white;
        }

        &:hover {
          border-bottom: 2px solid blueviolet;
          transition: all .3s;
        }
      }
    }

    .carrito {
      position: relative;
      width: 75px;
      height: 75px;
      @extend .centrarColumna;

      svg {
        cursor: pointer;
        width: 48px;
        height: 48px;
      }

      .counter {
        position: absolute;
        bottom: -10%;
        right: -15px;
        padding: 0.5rem;
        background-color: red;
        //width: fit-content;
        //height: fit-content;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: white;
      }
    }

    .user {
      @extend .centrarColumna;
      width: 75px;
      height: 75px;
      position: relative;

      .user__login {
        position: relative;
        cursor: pointer;
        font-size: 50px;
      }

      .user__name {
        position: absolute;
        bottom: -10px;
        font-size: 1.2rem;
        white-space: nowrap;
        //width: fit-content;

      }
    }

    margin-bottom: 5rem;
  }


  main {
    //background-color: red;
    @extend .centrarColumna;
    width: 100%;

    .productsContainer {
      //border: 1px solid black;
      @extend .centrarFila;
      flex-wrap: wrap;
      padding: 0.5rem;
      margin: 0.5rem;

      article {
        font-size: 1rem;
        outline: 1px solid #ccc;
        @extend .centrarColumna;
        justify-content: space-around;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 250px;
        height: 400px;

        &:hover {
          outline: 1px solid black;
          transition: all .3s;
        }

        //background-color: yellow;
        img {
          max-width: 200px;
          //aspect-ratio: 2;
        }

        button {
          &.meliButton {
            outline: none;
            font-style: none;
            cursor: pointer;
            background-color: yellow;
            padding: 0.5rem;
            font-size: 1rem;
          }
        }

        .buttonsContainer {
          position: relative;
          //border: 1px solid red;
          width: 80%;
          max-height: 50px;
          @extend .centrarFila;
          justify-content: space-evenly;

          a {
            position: relative;

            svg {
              width: 2rem;
              aspect-ratio: 1;

              &:hover {
                color: blue;
              }
            }

            &.mas_informacion {
              &:hover {
                &::after {
                  padding: 0.5rem;
                  background-color: black;
                  color: white;
                  position: absolute;
                  top: -100%;
                  right: -50%;
                  text-overflow: none;
                  border-radius: 10px;
                  content: "Más Información";
                }
              }
            }

            &.agregar_carrito {
              &:hover {
                &::after {
                  padding: 0.5rem;
                  background-color: black;
                  color: white;
                  position: absolute;
                  top: -100%;
                  right: -50%;
                  content: "Agregar al carrito";
                }
              }
            }
          }
        }
      }
    }


    //ItemDetailContainer
    .itemDetalles {
      width: 90%;
      @extend .centrarColumna;
      //outline: 3px solid red;

      * {
        //outline: 1px solid red;
      }
    }


    //ItemDetailContainer => MoreProducts
    .miniatura__container {
      margin-top: 2rem;
      z-index: 10;
      @extend .centrarFila;
      width: 100%;

      .miniatura__individual {
        margin: 0.5rem;
        @extend .centrarColumna;
        justify-content: space-between;
        width: 25%;
        aspect-ratio: 1;
        outline: 1px solid #ccc;
        box-shadow: 2px 2px 10px black;
        transition: all 1s;

        &:hover {
          outline: 2px solid black;
          transform: translateY(-15px);
          box-shadow: 10px 10px 20px black;
          transition: all .3s;
          //background-color: cyan;
        }

        .miniatura__titulo {
          //background-color: #ccc;
          @extend .centrarColumna;
          max-height: 6rem;
          //height: 25%;
          font-size: 1rem;
          text-decoration: none;
          text-align: center;
          //overflow: hidden;
        }

        .miniatura__img-container {
          @extend .centrarColumna;

          // outline: 2px solid blue;
          // background-color: red;
          //height: 6rem;
          //height: 50%;
          //object-fit: scale-down;
          //outline: 3px solid blue;
          //height: 50%;
          // mix-blend-mode: multiply;
          img {
            //width: 100px;

            height: 6rem;
            object-fit: scale-down;

            //z-index: -10;
            //width: 100%;
            //height: 100px;
          }
        }

        .miniatura__individual-precio {
          //height: 2rem;
          text-align: center;
          height: 15%;
          //background-color: lightcoral;

          &::after {
            content: " $";
          }
        }




      }
    }
  }

  footer {
    margin-top: 5rem;

    font-size: clamp(0.7rem, 2vw, 1.1rem);
    width: 100%;
    background-color: black;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: 400;
  }
}

@media (max-width: 1024px) {
  body #root {
    header {
      flex-direction: column;
    }
  }
}