@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


$debugCss: 0;

.centrarColumna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centrarFila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @if $debugCss>=1 {
    outline: 1px solid red;
  }

  @if $debugCss==2 {
    background-color: rgba(255, 0, 0, 0.1);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body #root {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;

  font-size: clamp(1rem, 2.5vw, 1.5rem);

  display: grid;
  //grid-template-rows: repeat(4, auto);
  grid-template-rows: auto auto auto;

  grid-template-areas:
    "header"
    "main"
    "footer";


  header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;


    //@extend .centrarFila;

    // * {
    //   outline: 1px solid red;
    // }


    display: grid;
    grid-template-columns: 50px 150px auto 100px 100px 50px;
    grid-template-rows: auto auto;
    grid-template-areas:
      "nada1 logo navbar carrito userLogin nada2"
      "nada1 logo navbar carrito userLogin nada2";
    // "navbar"
    // "carrito"
    // "userLogin";

    //@extend .centrarFila;

    border-bottom: 3px solid #ccc;
    box-shadow: 0 5px 25px black;
    //width: 100%;
    //justify-content: space-around;

    //margin: 0.5rem;
    //padding: 0.5rem;

    .header__logo {
      grid-area: logo;
      //background-color: red;
      @extend .centrarColumna;

      img {
        //width: 50%;
        max-width: 100px;
        //width: 50px;
        //height: 50px;
      }
    }


    .header__navbar {

      grid-area: navbar;
      //background-color: green;
      @extend .centrarFila;

      a {
        margin: 1rem;
        padding: 0.5rem;
        text-decoration: none;
        border-bottom: 2px solid #eee;

        &.active {
          background-color: blueviolet;
          border-bottom: 2px solid blueviolet;
          color: white;
        }

        &:hover {
          border-bottom: 2px solid blueviolet;
          transition: all .3s;
        }
      }
    }

    .header__carrito {
      grid-area: carrito;
      @extend .centrarColumna;

      position: relative;

      // width: 75px;
      // height: 75px;
      svg {
        //position: absolute;
        cursor: pointer;
        width: 5vw;
        min-width: 30px;
        max-width: 40px;
      }

      .counter {
        position: absolute;
        //bottom: 50%;
        left: 60%;
        padding: 0.5rem;
        background-color: red;
        //width: fit-content;
        //height: fit-content;
        border-radius: 50%;
        //font-size: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        color: white;
      }
    }

    .header__userLogin {
      grid-area: userLogin;

      @extend .centrarColumna;
      // width: 12px;
      // height: 12px;
      //display: inline-block;
      position: relative;

      svg {
        cursor: pointer;
        width: 5vw;
        min-width: 30px;
        max-width: 40px;

      }

      // .user__login {
      //   position: relative;
      //   cursor: pointer;
      //   font-size: 4rem;
      // }

      .user__name {
        //position: absolute;
        //bottom: -10px;
        display: none;
        font-size: 1.2rem;
        white-space: nowrap;
        //width: fit-content;

      }
    }
  }

  .filtros {
    grid-area: filtros;

    @extend .centrarFila;
    width: 100%;
    height: 50px;
    outline: 1px solid #ccc;

    div {
      @extend .centrarFila;
      width: 30%;
      height: 100%;

      // input[type="checkbox"] {
      //   width: 100px;
      //   height: 50px;
      // }

      input[type="text"] {
        background-color: inherit;
        text-align: center;
        outline: none;
        //width: 100%;
        height: 100%;

      }
    }

    justify-content: space-around;


    margin: 1rem 0;
  }


  main {
    //background-color: red;
    @extend .centrarColumna;
    grid-area: main;
    width: 100%;

    .spinner {
      height: 60vh;
      width: 90vw;
      @extend .centrarColumna;
    }

    .productsContainer {
      @extend .centrarFila;
      flex-wrap: wrap;
      padding: 0.5rem;
      margin: 0.5rem;

      article {
        position: relative;
        background-color: #fff;
        font-size: 1rem;
        outline: 1px solid #ccc;
        @extend .centrarColumna;
        justify-content: space-around;
        //padding: 0.5rem;
        margin: 0.5rem;
        width: 250px;
        //height: 400px;
        min-height: 300px;

        &:hover {
          outline: 1px solid black;
          transition: all .3s;

          .article__title {
            color: green;
            font-weight: 500;
          }

          .sinStock {
            background-color: #000;
          }
        }

        .article__title {
          padding: 0.5rem;
          width: 100%;
          height: 50px;
          font-size: 1rem;
          //background-color: darkblue;
          color: #0066cc;
          text-align: center;
        }

        .article__category {
          width: 100%;
          @extend .centrarFila;
          justify-content: space-between;

          //background-color: cyan;
          color: #aaa;
          text-align: end;
          font-size: 0.8rem;
          //width: 40%;
        }

        //background-color: yellow;
        .article__img-container {
          width: 100%;
          @extend .centrarColumna;

          img {
            width: 100%;
            aspect-ratio: 16/9;
            //aspect-ratio: 2;
            object-fit: scale-down;

            &:hover {
              object-fit: cover;
              //border: 3px solid red;
            }
          }
        }

        .article__price {
          //background-color: red;
          color: darkgreen;
          font-size: 1.5rem;
        }


        .sinStock {
          //background-color: #ccc;
          background-color: rgba(204, 204, 204, .8);
          color: #fff;
          padding: 0.5rem;
          position: absolute;
          top: 0;
          right: 0;
          border-bottom-left-radius: 15px;
        }

        .article__buttonsContainer {
          position: relative;
          //border: 1px solid red;
          //background-color: lightblue;
          width: 80%;
          max-height: 50px;
          @extend .centrarFila;
          justify-content: space-evenly;

          a {
            position: relative;

            svg {
              width: 2rem;
              aspect-ratio: 1;

              &:hover {
                fill: darkgreen;
              }
            }

            &.mas_informacion {
              &:hover {
                &::after {
                  padding: 0.5rem;
                  background-color: black;
                  color: white;
                  position: absolute;
                  top: -100%;
                  right: -50%;
                  text-overflow: none;
                  border-radius: 10px;
                  content: "Más Información";
                }
              }
            }

            &.agregar_carrito {
              &:hover {
                &::after {
                  padding: 0.5rem;
                  background-color: black;
                  color: white;
                  position: absolute;
                  top: -100%;
                  right: -50%;
                  content: "Agregar al carrito";
                }
              }
            }
          }
        }
      }
    }

    .itemDetalles {

      margin-top: 2rem;
      padding: 0.5rem;

      border: 3px solid black;
      border-radius: 10px;
      background-color: #fff;
      width: 90vw;

      display: grid;
      grid-template-columns: 1.618034fr 1fr;
      grid-template-rows: auto auto 50px;

      grid-template-areas:
        "foto titulo"
        "foto datos"
        "foto share";

      // * {
      //   outline: 1px solid red;
      // }

      .itemDetalles__titulo {
        grid-area: titulo;
        text-align: center;
        @extend .centrarColumna;
        //background-color: pink;
      }

      .itemDetalles__imagen {
        grid-area: foto;
        @extend .centrarColumna;
        //height: 30vh;
        //max-height: 250px;
        height: 100%;
        // * {
        //   outline: 1px solid red;
        // }

        iframe {
          width: 60%;
          aspect-ratio: 16/9;
          //height: 300px;
          //height: 40vh;
        }

        img {
          //outline: 1px solid blue;
          width: 100%;
          object-fit: scale-down;
          //height: 300px;
          height: 30vh;

        }

      }

      .itemDetalles__datos {
        grid-area: datos;
        @extend .centrarColumna;
        justify-content: space-evenly;

        .itemCount {
          @extend .centrarFila;

          button {
            cursor: pointer;
            border: none;
            outline: none;
            //background-color: pink;
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            text-align: center;
          }

          input {
            font-size: 1.5rem;
            //height: 80%;
            max-width: 5rem;
            text-align: center;
            border: 1px solid #ccc;
            outline: none;
          }

          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      .itemDetalles__share {
        grid-area: share;

        //outline: 1px solid red;
        @extend .centrarFila;
        justify-content: space-around;

        a {
          //border: 1px solid green;
          height: 100%;

          svg {
            //border: 1px solid blue;
            height: 100%;
            fill: green;
          }
        }

        //border: 3px solid red;
      }
    }

    a {
      &.meliButton {
        outline: 1px solid #333;
        font-style: none;
        cursor: pointer;
        background-color: #fff159;
        color: #08178a;
        padding: 0.5rem;
        font-size: 1rem;
      }
    }


    //ItemDetailContainer => MoreProducts
    .miniatura__container {
      margin-top: 2rem;
      z-index: 10;
      @extend .centrarFila;
      justify-content: space-around;
      width: 100%;

      transition: all 1s;




      // * {
      //   outline: 1px solid red;
      // }

      .miniatura__individual {

        /*
        &:nth-child(1) {
          transition-delay: 200ms;
          background-color: red;
        }

        &:nth-child(2) {
          transition-delay: 400ms;
          background-color: green;
        }

        &:nth-child(3) {
          transition-delay: 600ms;
          background-color: blue;
        }

        &:nth-child(4) {
          background-color: lightcoral;
          transition-delay: 800ms;
        }

        &:nth-child(5) {
          transition-delay: 1000ms;
          background-color: lightgreen;
        }

        &:nth-child(6) {
          background-color: lightblue;
          transition-delay: 1200ms;
        }
        */
        @extend .centrarColumna;
        justify-content: space-between;
        width: 40vw;
        max-width: 200px;

        aspect-ratio: 1;

        margin: 0 1rem;
        outline: 1px solid #ccc;
        box-shadow: 2px 2px 10px black;
        transition: all 1s;

        background-color: #fff;

        &:hover {
          outline: 2px solid black;
          transform: translateY(-15px);
          box-shadow: 10px 10px 20px black;
          transition: all .3s;
        }

        .miniatura__titulo {
          // @extend .centrarCFila;
          height: 20%;

          font-size: 0.7rem;
          text-decoration: none;
          text-align: center;

          overflow: hidden;
          //z-index: 10;
        }

        .miniatura__img-container {
          @extend .centrarColumna;


          // outline: 2px solid blue;
          //height: 6rem;
          //height: 50%;
          //height: 50%;
          // mix-blend-mode: multiply;
          height: 60%;

          img {
            //width: 100px;

            //height: 6rem;
            width: 100%;
            height: 100%;
            object-fit: scale-down;

            //z-index: -10;
            //width: 100%;
            //height: 100px;
          }
        }

        .miniatura__individual-precio {
          //height: 2rem;
          height: 20%;
          //text-align: center;

          //background-color: lightcoral;

          &::after {
            content: " $";
          }
        }
      }
    }

    //UserLogin => UserData
    .userData-container {
      margin-top: 1rem;
      width: 100%;
      min-height: 50vh;
      @extend .centrarColumna;
      background-color: #fff;

      form {
        border: 2px solid black;
        margin-top: 3rem;
        padding: 2rem;
        background-color: white;
        @extend .centrarColumna;
        width: 80%;

        .form__field {
          width: 100%;
          @extend .centrarFila;
          border-bottom: 1px solid #aaa;
          margin: 2rem 0.5rem;
          font-size: 1rem;

          input {
            width: 60%;
            text-align: center;
            background-color: inherit;
            outline: none;
            border: none;
          }

          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          p {
            width: 35%;
            color: #ccc;
          }



          input {
            height: 100%;

            &:focus {
              outline: 1px dotted black;
            }
          }



          &:hover {
            border-bottom: 1px solid blue;

            input {
              color: blue;
            }

            p {
              color: blue;
              transition: all .3s;

            }
          }
        }

        .submitButton {
          cursor: pointer;
          padding: 0.5rem;
          font-size: 1rem;
          background-color: green;
          color: #fff;
          font-weight: 700;
        }
      }

      .userData {
        @extend .centrarFila;
        width: 100%;
        height: 100px;
        justify-content: space-around;
        font-size: 1rem;

        img {
          height: 100%;
          object-fit: scale-down;
        }

        .logoutButtonContainer {
          height: 100%;

          button {
            cursor: pointer;
            outline: none;
            border: none;
            background-color: inherit;
            height: 100%;
            @extend .centrarColumna;

            svg {
              height: 50%;
            }
          }
        }

      }

      .loginButtonContainer {
        button {
          cursor: pointer;
          width: 75px;
          outline: none;
          border: none;
          background-color: inherit;

          svg {
            width: 100%;
            height: 100%;
            fill: blueviolet;
          }

          font-size: 1rem;

        }

      }


    }

    .carritoContainer {
      margin-top: 3rem;
      width: 100%;
      min-height: 60vh;
      @extend .centrarColumna;
      justify-content: flex-start;

      .carrito__productos {
        //background-color: pink;
        border: 3px solid lightgreen;
        width: 80%;

        .carrito__productos-producto {
          @extend .centrarFila;
          margin: 2rem 0.5rem;
          justify-content: space-around;
          border-bottom: 1px solid black;

          img {
            border: 2px solid red;
            width: 100px;
            height: 100px;
            object-fit: scale-down;
          }
        }

      }
    }

    //Main => Admin
    .adminPage {
      @extend .centrarColumna;
      margin-top: 5rem;
      width: 90vw;
      height: 60vh;

      .adminPage__credenciales {
        @extend .centrarColumna;
        justify-content: space-around;
        width: 70%;
        height: 200px;
        background-color: white;

        input {
          border: 2px solid blue;
          outline: 2px solid blue;
        }
      }

      &__section {
        width: 100%;
        @extend .centrarColumna;
        border: 2px solid lightblue;
        background-color: white;

        &.JSONHandler {
          //background-color: blue;
        }

        &.usersList{
          //background-color: green;
          ul {
            width: 90%;
            li {
              @extend .centrarFila;
              justify-content: space-between;
              img {
                width: 50px;
                &:hover {
                  width: 300px;
                }
              }
              p {
                width: 200px;
                //background-color: #ccc;
                color: blue;
              }
            }
          }
        }
      }

      ul {
        li {
          font-size: 1rem;
        }
      }
    }

    .error404-img {
      width: 100%;
      object-fit: scale-down;
    }
  }

  footer {
    margin-top: 5rem;
    grid-area: footer;

    font-size: clamp(0.7rem, 2vw, 1.1rem);
    width: 100%;
    background-color: black;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: 400;
  }
}

@media (max-width: 1024px) {
  body #root {
    header {
      position: relative;
      grid-template-columns: 3fr 1fr 1fr 1fr;
      grid-template-rows: 75px auto;
      grid-template-areas:
        "logo nada carrito userLogin"
        "navbar navbar navbar navbar";

      .header__navbar {
        flex-wrap: wrap;

        .header__link {
          //width: 25%;
          font-size: 0.75rem;
        }
      }
    }

    main {
      .itemDetalles {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 2rem;

        grid-template-areas:
          "titulo"
          "foto"
          "datos"
          "share";

        border: none;
        width: 90%;

        .itemDetalles__imagen {
          iframe {
            width: 100%;
          }
        }
      }

      form {
        border: none;
        width: 100%;

        .form__field {
          margin-top: 0.5rem;
          width: 100%;
          flex-direction: column-reverse;
          border: none;

          &:hover {
            border-bottom: none;
          }

          p {
            width: 100%;
          }

          input {
            margin-top: 0.5rem;
            width: 100%;
            border: 1px solid #ccc;
            border-bottom: 1px solid blue;
          }
        }
      }
    }

    footer {
      margin-top: 2rem;
    }
  }
}